.alert-danger-validation::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}
input{
  position: relative;
  width: 100%;
  padding: 1rem 0;
  margin-top: .5rem;
  border: none;
  outline: none;
  font-size: 1.8rem;
  color: black;
}
.bar{
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.1);
  width: 100%;
  height: 1px;
}
.bar::before{
  content: '';
  position: absolute;
  background-color: #fc6767;
  width: 0;
  height: 2px;
  transition: width 650ms;
}
input:focus + .bar::before{
  width: 100%;
}
