
app-text-input{
  width: 100%;
}
app-radio-input{
  width: 100%;
}
app-checkbox-input{
  width: 100%;
}
app-number-input{
  width: 100%;
}
.form-container{
  width: 100%;
  max-width: 40rem;
  background-color: #ffffff;
  position: relative;
  padding: 10rem 0;
  box-shadow: 0 1px 1.5rem rgba(0,0,0,.1);
  border-radius: 1rem;
  z-index: 1;
}
.form-container::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30rem;
  background: linear-gradient(to left , #fc6767, #ec008c);
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  z-index: -1;
}

.form-heading{
color: white;
  font-size: 2.5rem;
  position: absolute;
  top: 3.5rem;
  left: 10rem;
}

form{
  transform: translateX(10rem);
  padding: 2rem 0;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 1px 1.5rem rgba(0,0,0,.1);
}

.input-group{
  width: 90%;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: baseline;
}

.submit-btn{
  margin: 3rem auto;
  padding: 1rem 5rem;
  background: linear-gradient(to left , #fc6767, #ec008c);
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 3rem;
}
.submit-btn:focus,
.submit-btn:hover{
  background: linear-gradient(to left , #ec008c, #fc6767);
}

@media screen and (max-width: 700px){
  .form-container::before{
    height: 10rem;
  }

  .form-heading{
    left: 50%;
    transform: translateX(-50%);
  }

  form{
    border-radius: initial;
    transform: initial;
    box-shadow: none ;
  }
}
