<form [formGroup]="form">
  <div class="col-lg-4 col-sm-12 mb-2 container ">
    <div class="form-group">
      <app-text-input [textInputInfo]="negotiationNameInfo"></app-text-input>
    </div>
    <div class="form-group">
      <app-text-input [textInputInfo]="nameInfo"></app-text-input>
    </div>
    <div class="form-group">
      <app-radio-input [radioInputInfo]="typeInfo"></app-radio-input>
    </div>
    <div *ngIf="type.value==offerType.Fixed" class="form-group">
      <app-text-input [textInputInfo]="amountInfo"></app-text-input>
    </div>
    <div *ngIf="type.value==offerType.Range" class="form-group">
      <app-text-input [textInputInfo]="minAmountInfo"></app-text-input>
    </div>
    <div *ngIf="type.value==offerType.Range" class="form-group">
      <app-text-input [textInputInfo]="maxAmountInfo"></app-text-input>
    </div>
    <div class="form-group">
      <app-radio-input [radioInputInfo]="sideInfo"></app-radio-input>
     </div>
    <div class="form-group">
      <app-checkbox-input [checkboxInputInfo]="needsCounterOfferToShowInfo"></app-checkbox-input>
    </div>
  </div>
  <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
</form>
