.custom-radio-btn{
  width: 25px;
  height: 25px;
  border:2px solid #ec008c;
  border-radius: 50%;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-radio-btn .checkMark{
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  border-radius: 50%;
  background-color: #fc6767;
  display: inline-block;
  opacity: 0;
  transition: opacity .5s ease;
}
.custom-radio-btn input{
  display: none;
}
.custom-radio-btn input:checked + .checkMark{
  opacity: 1;
}
